html,
body {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
}

#mapContainer {
  height: 100%;
  transition: margin-right 0.5s;
}

#map {
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: darkcyan;
  overflow-x: hidden;
  transition: 0.5s;
}

#sidebarHeader {
  width: 100%;
  height: 70px;
  background: darkolivegreen;
}

#sidebarBody {
  width: 100%;
  flex: 1;
}

#sidebarFooter {
  width: 100%;
  height: 32px;

  display: flex;
  justify-content: space-between;
  background: darkolivegreen;
}

#sidebarFooter button {
  margin: 4px;
}
